main img{
  margin: 20px 0  20px 5px;
  border-radius: 50%;
  float: left;
  height: 45px;
  @include mq($md){
    height: 90px;
  }
  @include mq($lg){
    height: 85px;
  }
}
.modal img {
  border-radius: 50%;
}
