ul {
  background-color: #fff;
  list-style: none;
  border: 1px solid gray;
  border-radius: 5px;
  padding-left: 20px;
  display: inline-block;

}

li{
  p{
    font-size: 0.8em;
    float: left;
    padding-left: 20px;
    padding-right: 25px;
    margin: 0;
    color: rgb(172, 172, 172);
  }
  h2{
    float: left;
    margin: 0;
    padding-top: 40px;
    padding-left: 20px;
    padding-bottom: 5px;
    font-size: 1.1em;
  }
}