.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(100, 100, 100, 0.4);
}

.modal{
  width: 400px;
  position: relative;
  top: 50px;
  margin-left:  auto;
  margin-right: auto;
  text-align: center;
  background-color: #fff;
  border: 1px solid #778;
  border-radius: 5px;
  padding: 30px;
  h2{
    padding: 7px 0;
    font-size: 1em;
  }
  p{
    padding: 5px 0;
  }
}
hr{
  margin: 25px 0;
  border: 1px solid rgb(240, 240, 240);
}
.hidden{
    display: none;
  }

.modal-close{
  position: absolute;
  padding: 10px;
  cursor: pointer;
  right: 20px;
  top: 10px;
}
